body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #4ab34a;
  margin: 30px auto;
  width: 70%;
}

img {
	float: right;
	height: 230px;
	margin: 0 20px 20px 20px;
}

a {
	text-decoration: none;
	color: #4ab34a;
	transition: all 0.2s ease;
}

a:hover{
	color: #fbc02d;
}

#view{
	clear: both;
}

h1, h2, h3{
	text-align: center;
}

ul{
	list-style-type: none;
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	text-align: left;
}

.justify{
	text-align: justify;
}

hr{
  border-color: #59b759;
  clear: both;
}

@media only screen and (max-width: 1032px) {
	body {
		margin: 30px 7%;
		width: inherit;
	}
}
@media only screen and (max-width: 462px) {
	img {
    display: block;
    margin: auto;
    float: none;
	}
}